.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.title {
	display: block;
	font-size: 2em;
	font-weight: 700;
}

@media only screen and (max-width: 420px) {
	.App {
		font-size: 0.8em;
	}
}
